/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* RWD reset*/

img{ max-width: 100%;
    height: auto;
}

*, *::before, *::after{
    box-sizing:border-box
}


/* *{
    outline: 1px red solid;
} */

/* 上面的border用來輔助找整個網頁是否有X軸 */

/* 以下開始 */

.wrap{
    max-width: 940px;
    margin:0 auto;
}

.header{
    display: flex;
}

.logo{
    display: block;
    height: 40px;
    width: auto;
}

.banner{
    margin-bottom: 60px;
}

.ad{
    display: block;
    width: 100%;
}


.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.left{
    width: 300px;
    
}


@media(max-width:882px) {
    .left{
        width: 70%;
        margin: 0 auto 30px auto;
    }
}

.select{
    height:65px;
    padding-top: 16px;
    padding-bottom: 16px;
    border: 1px solid #eaf0ed;
    text-align: center;
    font: normal normal 600 24px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
    
}


.type{
    text-align: center;
    font: normal normal 600 24px/40px PingFang TC;
    letter-spacing: 0px;
    color: #EAF0ED;
    opacity: 1;
    background: #3F5D45 0% 0% no-repeat padding-box;
    opacity: 1;
}

.all{
    background: #EAF0ED 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    opacity: 1;
}


.right{
    width:66%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(max-width:882px) {
    .right{
        width: 70%;
        margin: 0 auto 30px auto;
    }
}

.product{
    width: 300px;
    margin-bottom: 20px;
    position:relative;
}

@media(max-width:857px) {
    .product{
        
        margin: 0 auto 20px auto;
    }
}


.photo{
    display: block;
}

.infoprice{
    display: flex;
    align-items: center;
}

.info{
    width: 55%;
    height:56px;
    padding-top: 14px;
    padding-bottom: 14px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    opacity: 1;
    font: normal normal 600 20px/24px PingFang TC;
    text-align: center;
}
.price{
    width: 45%;
    height: 56px;
    padding-top: 14px;
    padding-bottom: 14px;
    /* 用上面兩行padding來使文字置中，更快更直覺 */
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    opacity: 1;
    text-align: center;
    font: normal normal 600 20px/24px PingFang TC;    
}

.cart{
    height: 65px;
    padding-top: 22px;

    /* 下面是文字 */
    text-align: center;
    font: normal normal 600 24px/20px PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    opacity: 1;
    /* 下面是框框 */
    background: #EAF0ED 0% 0% no-repeat padding-box;
    border: 1px solid #EAF0ED;
    opacity: 1;
}

.greentag{
    width: 36px;
    height: 107px;
    background: #3F5D45;
    position: absolute;
    top: 0;
    left: 20px;
    font-size: 16px;
    writing-mode: vertical-rl;
    color: #FFFFFF;
    text-align: center;
    padding-right: 10px;
}

.love{
    position: absolute;
    top: 19px;
    right: 22px;
}

.pages{
    width: 100%;
    /* 因為flexbox是用內容所需要的空間去調整寬高，所以必須先讓寬度100%， */
    /* 靠上面這行才能把整個換頁框置右 */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 60px; 
}

@media(max-width:882px) {
    .pages{
        margin-bottom: 30px;
    }
}

.change{
    display: flex;

}

.page{
    width: 60px;
    height: 60px;
    border: 1px solid #EAF0ED;
    opacity: 1;
    text-align: center;
    padding-top: 20px;       
}


.newsletter{
    height: 116px;
    display: flex;
    background:#3F5D45;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.sweetmail{
    align-items: center;
}

.whitelogo{
    width: 40px;
    height: 40px;
}

.order{
    display: inline;
}


.submit{
    width: 380px;
    height: 56px;
    background: #EAF0ED;
    display: flex;
    justify-content: space-between;
}

.maillogo{
    padding-top: 16px;
    padding-left: 20px;

}

.go{
    width: 64px;
    height: 56px;
    background: #FFE180;
    opacity: 1;
    padding-top: 20px;
    padding-left: 24px;
}


.footer{
    max-width: 940px;
    margin: 0 auto;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.fleft{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
}

@media(max-width:882px) {
    .fleft{
        width: 80%;
    }
}

.footerlogo{
    display: block;
    width: 170px;
    height: 26.5px;
}

.at, .fb{
    width: 32px;
    height: 32px;
}

.fright{
    width: 50%;
    display: row;
    
}

/* 
.eat{
    width: 100%;
    
    writing-mode: vertical-rl;
    display: flex;
    justify-content: flex-end;
}
 */

.goodday{

    display: block;
    width: 100%;
    height: 300px;
}




.copyright{
    text-align: end;
    color: #3F5D45;
}